<!--подключаем статические файлы - картинки, стили-->
{% load static %}
<!--подключаем теги из папки women/templatetags-->
{% load women_tags %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'women/images/icon_2.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
<!--			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>-->
				<li><a href="{% url 'home' %}">На главную</a></li>
<!-- menu берется из класса представлений WomenHome в views.py-->
				{% for m in menu %}
				<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
				{% endfor %}

				{% if request.user.is_authenticated %}
				<!-- если юзер уже авторизован, то отобразим 'имя_пользователя' и кнопку 'выйти'	-->
				<li class="last"> {{ user.username }} | <a href="{% url 'logout' %}">Выйти</a></li>
				<!-- а иначе отобразим ссылки 'регистрация' и 'войти' справа вверху страницы -->
				{% else %}
				<li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">

<!-- далее подгружаем функцию-тег из women/templatetags/women_tags.py и используем в качестве пременной categories -->
<!-- это позволяет нам не дублировать код в функциях views.py, когда мы хотим получить все записи из БД (как пример) -->
<!-- про функционал пользовательских тегов шаблонов - кури документацию -->
		{% get_categories as categories %}

	<ul id="leftchapters">

		{% if cat_selected == 0 %}
		<li class="selected">Все категории</li>
		{% else %}
		<li><a href="{% url 'home' %}">Все категории</a></li>
		{% endif %}
		<!-- перебираем циклом categories и выводим имя категории или ссылку на нее -->

		{% for c in categories %}
		{% if c.pk == cat_selected %}
		<li class="selected">{{c.name}}</li>
		{% else %}
		<li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
		{% endif %}
		{% endfor %}

	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}

<!-- убираем отображение номеров пагинации, если контент помещается на одной странице -->
{% if page_obj.has_other_pages %}
<!-- отобразим пагинацию внизу страницы -->
	<nav class="list-pages">
		<ul>
			<!-- добавим стрелку-ссылку на предыдущую страницу в пагинации -->
			{% if page_obj.has_previous %}
			<li class="page-num">
				<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
			</li>
			{% endif %}

			{% for p in paginator.page_range %}
			{% if page_obj.number == p %}
			<li class="page-num page-num-selected">{{ p }}</li>
			<!-- оставим по две ссылки(номера страниц) справа и слева относительно номера выбранной страницы -->
			{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
			<li class="page-num">
				<a href="?page={{ p }}">{{ p }}</a>
			</li>
			{% endif %}
			{% endfor %}

			<!-- добавим стрелку-ссылку на следующую страницу в пагинации -->
			{% if page_obj.has_next %}
			<li class="page-num">
				<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
			</li>
			{% endif %}

		</ul>
	</nav>
		{% endif %}
	</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2022-2023 С вас лайк и подписка, дон.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>